{% extends 'base.html.twig' %}

{% block title %}enchere{% endblock %}

{% block body %}
    <h1 class="text-center">Enchere </h1>

    <ul>
        {% if (dateactuelle |date('d-M-y  H:i') < encheres.dateDebut |date('d-M-y  H:i')) %}
            <a>il n'y a pas encore d'enchere pour cette semaine </a>
        {% endif %}
        {% if (encheres.dateFin |date('d-M-y  H:i') < dateactuelle |date('d-M-y  H:i')) %}
            <a>enchere est deja passée pour cette semaine </a>
        {% endif %}
        {% if ( encheres.dateDebut |date('d-M-y  H:i') < dateactuelle |date('d-M-y  H:i') and  dateactuelle < encheres.dateFin |date('d-M-y  H:i')) %}

    <h3>l'enchere commencera le {{ encheres.dateDebut |date('d-M-y H:i:s')}} et ce finira le {{ encheres.dateFin |date('d-M-y H:i:s')}}</h3>
        <h3>vous encherisser pour la societé {{ societe_Fournisseur }}</h3>


        <table>
            <thead>
            <tr>
                <td>Reférence</td>
                <td>Marque</td>
                <td>Libellé</td>
                <td>Quantités</td>
                <td>Enchère</td>
            </tr>
            </thead>
            <tbody>
            {% for refbypanier in refbypanier %}
                <tr>
                    <td>{{ refbypanier.reference }}</td>
                    <td>{{ refbypanier.libelle }}</td>
                    <td>{{ refbypanier.marque }}</td>

                    {% for reference in AllReferences %}
                        {% if refbypanier.reference == reference.reference %}
                            {% for panierglobaldetail in panierglobaldetail %}
                                {% if reference.id ==  panierglobaldetail.iD_REFERENCE %}
                                <td>{{ panierglobaldetail.quantitE_GLOBAL }}</td>

                                    {# envoyer panierglobaldetail.quantitE_GLOBAL    panierglobaldetail.id      #}

                                    <td><input class="{{ refbypanier.reference }}" type="number"></td>
                                    <td><input value={{ panierglobaldetail.quantitE_GLOBAL }} class="{{refbypanier.reference}}" type="hidden"></td>
                                    <td><input  class="{{ refbypanier.reference }}" type="hidden" value={{ panierglobaldetail.id  }}></td>
                                    <td><button type="submit" class="btn btn-success" onclick="faireUneEnchere('{{ refbypanier.reference }}')" >Enchérir</button></td>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}


                </tr>
            {% endfor %}

            </tbody>
        </table>

        {% endif %}

        {% block javascripts %}
            <script type="text/javascript">
                const faireUneEnchere = (reference) => {

                    var prix = document.getElementsByClassName(reference)[0].value;
                    var quantite = document.getElementsByClassName(reference)[1].value;
                    var idpanierglobaledetails = document.getElementsByClassName(reference)[2].value;
                   console.log('Prix: ' + prix + ' reference :', reference)

                    let xhr = new XMLHttpRequest();
                    xhr.open("POST", "/encherir");
                    xhr.send(JSON.stringify({ "reference": reference, "prix": prix, "quantite": quantite, "idpanierglobaledetails": idpanierglobaledetails }));


                }
            </script>

        {% endblock %}



    </ul>

{% endblock %}
